body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 300px;
    text-align: center;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}